@mixin d-flex($jc, $ai, $fd: row) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fd;
}

@mixin grid-sys($row-amount, $col-amount, $row-fr: 1fr, $col-fr: 1fr) {
  display: grid;
  grid-template-columns: repeat($col-amount, $col-fr);
  grid-template-rows: repeat($row-amount, $row-fr);
}
@mixin animate($animation, $duration, $method, $times) {
  animation: $animation $duration $method $times;
}
@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}
