@import "../civgame/styles/variables.scss";
@import "../civgame/styles/mixings.scss";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-image: url(https://wallpapercave.com/wp/wp3145771.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "ITC Medium";
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.logo-wrapper {
  @include d-flex(space-around, center);
}

.logo {
  height: 50%;
  width: 50%;
  margin-top: $margin-xl;
  transition: transform 0.3s;
  &:hover {
    transform: scale(1.15);
  }
}

.main-menu {
  @include d-flex(space-around, center, column);
  margin-top: $margin-xxl;
}
#modal-btn {
  border: 5px ridge #d9dcab;
  background: #f5f9d3;
  width: 200px;
  height: 50px;
  margin: 10px;
  transition: transform 0.2s;
  font-family: "ITC Medium";
  font-size: $fs-m;
  color: black;
}

#modal-btn:hover {
  transform: scale(1.1);
}
.btn-menu {
  border: 5px ridge #d9dcab;
  background: #f5f9d3;
  width: 200px;
  height: 50px;
  margin: 10px;
  transition: transform 0.2s;
  font-family: "ITC Medium";
  font-size: $fs-m;
  color: black;
}

.btn-menu:hover {
  transform: scale(1.1);
}
